/*-------------------------------------
* customize material design icon sizes 
*-------------------------------------
*/

:root {
  --primary-color: #191a24;
  --secondary-color: #f1ebf5;
  --danger-color: #fc5c5c;
  --pink: #fbcee3;
  --light-pink: #fdecf7;
}

@font-face {
  font-family: regular;
  src: url(/assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

body {
  font-family: regular;
  color: var(--primary-color);
}

h1 {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--pink);
}

.primary-color {
  color: var(--pink);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.responsive {
  width: 100%;
  height: auto;
}

footer {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.font-size-17pt {
  font-size: 17pt;
}

.card-img-overlay {
  background-color: #fbcee396;
  color: #191a24;
  border-radius: 20px;
}

.card-img {
  border-radius: 20px;
}

.card {
  border-radius: 20px;
  border: none;
  margin: 1rem;
  min-height: 30%;
}

