/*-------------------------------------
* customize material design icon sizes 
*-------------------------------------
*/

:root {
  --primary-color: #191a24;
  --secondary-color: #f1ebf5;
  --danger-color: #fc5c5c;
  --pink: #fbcee3;
  --light-pink: #fdecf7;
}

@font-face {
  font-family: regular;
  src: url(/assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: bold;
  src: url(/assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: semiBold;
  src: url(/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

body {
  font-family: regular;
  color: var(--primary-color);
  padding-bottom: 30% ;
}

.bold {
  font-family: bold;
}

.semiBold {
  font-family: semiBold;
}

h1 {
  color: var(--primary-color);
}

.primary-background {
  background-color: var(--pink);
}

.primary-color {
  color: var(--pink);
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.responsive {
  width: 100%;
  height: auto;
}

footer {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.font-size-17pt {
  font-size: 17pt;
}

.card-img-overlay {
  background-color: var(--pink);
  color: #191a24;
  border-radius: 20px;
  min-height: 316px;
}

.card-img {
  border-radius: 20px;
}

.card {
  border-radius: 20px;
  border: none;
  margin: 1rem;
  min-height: 316px;

  /* min-height: 30%; */
}

.avatar-container {
  width: 60px;
  position: relative;
  height: 60px;
  border-radius: 100%;
  transition: transform 0.3s ease;
  box-shadow: rgb(0 0 0 / 87%) 0px 2px 4px, rgb(0 0 0 / 63%) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 0;

  border: 1.5px solid var(--light-pink);
}

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.avatar-container:active {
  transform: scale(0.95); /* Scale down on tap */
}

#progress-container {
  height: 135px;
  width: 150px;
  align-items: center;
  display: flex;
  justify-content: center;
}


#modal {
  border: none;
}